.message{
    background-color: white;
    padding: .5rem;
    font: var(--body-16regular);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
    
}

.message-text{
    box-sizing: border-box;
    margin: 0;
}

.message.is-sender{
    background-color: var(--green-1);
    align-self: flex-end;
    border-radius: .5rem 0 .5rem .5rem;
}

.message.is-sender::before{
    content: '';
    position: absolute;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: .75rem;
    block-size: .75rem;
    box-sizing: border-box;
    border-inline-start: .37rem solid var(--green-1);
    border-inline-end: .37rem solid transparent;
    border-block-start: .37rem solid var(--green-1);
    border-block-end: .37rem solid transparent;

}

.message.is-receiver{
    background-color: var(--white);
    align-self: flex-start;
    border-radius: 0 .5rem .5rem .5rem;
}

.message.is-receiver::before{
    content: '';
    position: absolute;
    inset-inline-end: 100%;
    inset-block-start: 0;
    inline-size: .75rem;
    block-size: .75rem;
    box-sizing: border-box;
    border-inline-start: .37rem solid transparent;
    border-inline-end: .37rem solid white;
    border-block-start: .37rem solid white;
    border-block-end: .37rem solid transparent;

    
}

.message-date{
    font: var(--caption-12regular);
    color: var(--grey);
}

.message-status{
    inline-size: 1rem;
    block-size: 1rem;
}

.message-details{
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
}

.message-status.is-dobleCheck{
    background-image: url('../images/dobbleCheck.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}